<div class="content gallery">
  <% @people.each do |person| %>
    <%= link_to person_path(person) do %>
      <img src="<%= person.photo.thumb.url %>">
      <div class="overlay">
        <div><%= person.name%></div>
        <div><%= person.trajectory %></div>
      </div>
    <% end %>
  <% end %>
</div>