// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery
{
  text-align: center;
  
  a,
  span
  {
    display: inline-block;
    vertical-align: top;
    padding: 12px;
    position: relative;
    
    @media only screen and (min-width: 600px)
    {
      width: 49%;
    }
    
    @media only screen and (min-width: 800px)
    {
      width: 32%;
    }
  }
  
  a:hover
  {
    img
    {
      opacity: 0.3;
    }
    
    .overlay
    {
      opacity: 1;
    }
  }
  
  img
  {
    width: 100%;
    opacity: 1;
  }
  
  .overlay
  {
    font-weight: 700;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -1.7em;
  }
  
  img,
  .overlay
  {
    transition: opacity, 0.2s;
  }
}

.person
{
  .photo
  {
    margin-bottom: 24px;
  }
  
  .photo img
  {
    width: 100%;
  }
  
  .photo-credit
  {
    font-size: 11px;
    line-height: 2em;
  }
  
  .name
  {
    margin: 0;
  }
  
  .trajectory
  {
    color: #666;
    margin-top: 0;
  }
  
  .details
  {
    font-family: 'Open Sans';
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .family
  {
    margin-top: 2.7em;
  }
}

.buttons form,
.buttons form div
{
  display: inline;
}
