<div class="content">
  <p>
    #BanThis was founded by two Iranian-American women: Sameen Ahmadnia and Maria Rohani. Sameen is an attorney practicing asylum law in Washington, D.C. Maria works at the intersection of international development and social movements and is based in New York City.
  </p>
  
  <div class="gallery">
    <span><%= image_tag(asset_path 'sameen.jpg') %></span>
    <span><%= image_tag(asset_path 'maria.jpg') %></span>
  </div>

  <p>
    The campaign was made possible by an incredible network of dedicated, passionate people who offered their skills to the cause.
  </p>

  <p>
    <span class="bold">Photographers:</span>
    Aaron Hedquist, #BanThis Creative Director
    <br>Avery Millerhouser
    <br>Justin McCallum
    <br>Daniella Vale
    <br>Liz Maney
    <br>Micaela Fein
    <br>Nael Hafiz
    <br>Nikki Fietzer
    <br>Omar Moinuddin
    <br>Peng Sheng
    <br>Sidra Fatima
    <br>Steve Nettnin
    <br>Ty Von Plinsky
    <br>Zainab Syeda
  </p>

  <p>
    <span class="bold">Regional Leads:</span>
    Micaela Fein, #BanThis SF Bay Area Lead
    <br>Madeena Rafiq, #BanThis Los Angeles Lead
    <br>Shiraz Ahmed, #BanThis Detroit Lead
  </p>

  <p>
    <span class="bold">Graphic Design:</span>
    Chase Mullins
  </p>
  
  <p>
    <span class="bold">Website:</span>
    Katarina Blagojević
  </p>
</div>
